.footer{
  &_top{
    background-color: #232b3c;
    padding: 30px 0 50px 0;
    .col{
      min-height: 1px;
      padding: 5px 15px;
      text-align: center;
      @include respond-to(ipad){
        padding: 0 15px;
        text-align: left;
        width: 20%;
        float: left;
      }
      .footer_logo{
        img{
          display: block;
          max-width: 100%;
          margin: 0 auto;
          @include respond-to(ipad){
            margin: 0;
          }
        }
      }
      span{
        &.title{
          padding: 15px 0 0 0;
          line-height: 1;
          display: block;
          text-transform: uppercase;
          color: #b98e26;
          font-size: 20px;
          margin: 0 0 15px 0;
        }
      }
      ul{
        li{
          line-height: 1;
          margin: 0 0 10px 0;
          a{
            display: block;
            color: #fff;
            font-size: 15px;
          }
          &:last-child{
            margin: 0;
          }
        }
      }
      &.f_logo{}
      &.contact{}
      &.find{}
      &.site_links{}
      &.social{
        ul{
          font-size: 0;
          li{
            line-height: 1;
            display: inline-block;
            color: #fff;
            margin: 0 12px 0 0;
            padding: 0;
            &:last-child{
              margin: 0;
            }
            a{
              display: block;
              span{
                @include transition(all 200ms ease-in-out);
                font-size: 24px;
              }
              &:hover{
                color: #b98e26;
              }
            }
          }
        }
      }
    }
  }
  &_bottom{
    background-color: #1c2230;
    padding: 10px 0 10px 0;
    .col{
      padding: 5px 15px;
      @include respond-to(ipad){
        padding: 15px;
        width: 33.333%;
        float: left;
      }
      @include respond-to(desktop){
        width: 16.66%;
      }
      &_inner{
        border: 1px solid #343f54;
        background-color: #232b3c;
        height: 75px;
        cursor: pointer;
        display: flex;
        @include respond-to(ipad){
          height: 130px;
        }
        @include transition(all 200ms ease-in-out);
        a{
          display: flex;
          margin: auto;
          align-items: center;
          justify-content: center;
          img{
            display: flex;
            flex-direction: row;
          }
        }
        &:hover{
          border-color: #b98e26;
        }
      }
    }
  }
  .copy{
    background-color: #232b3c;
    padding: 18px 0;
    line-height: 1;
    .col{
      padding: 5px 15px;
      font-size: 13px;
      color: #fff;
      text-align: center;
      @include respond-to(ipad){
        text-align: left;
        padding: 0 15px;
      }
      @include respond-to(ipad){
        width: 50%;
        float: left;
        min-height: 1px;
      }
      &:last-child{
        text-align: center;
        @include respond-to(ipad){
          text-align: right;
        }
      }
    }
  }
}