.header{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  @include transition(all 200ms ease-in-out);
  &.fixed{
    .header_top{
      background: rgba(35, 43, 60, .7);
    }
    .header_bottom{
      padding: 10px 0;
      opacity: 0;
      height: 0;
      display: none;
      .logotype{
        max-width: 120px;
      }
      .menu{
        padding: 0 15px;
      }
    }
  }
  &_top{
    @include transition(all 200ms ease-in-out);
    height: 50px;
    line-height: 50px;
    background: #232b3c;
    text-align: right;
    .container{
      height: 100%;
    }
    &_inner{
      display: inline-block;
      .number{
        float: left;
        color: #fff;
        font-size: 14px;
        padding: 0 5px;
        @include respond-to(ipad){
          font-size: 18px;
          padding: 0 15px;
        }
        a{
          color: #fff;
          font-size: 14px;
          @include respond-to(ipad){
            font-size: 18px;
          }
        }
      }
      .lang{
        float: left;
        color: #fff;
        font-size: 12px;
        padding: 0 5px;
        @include respond-to(ipad){
          padding: 0 15px;
        }
        > span{
          border: 1px solid #fff;
          padding: 3px 5px;
          a{
            //display: block;
            color: #fff;
          }
        }
        ul{
          display: none;
        }
      }
      .social_icons{
        float: left;
        color: #fff;
        font-size: 18px;
        padding: 4px 0 0 5px;
        @include respond-to(ipad){
          padding: 3px 0 0 15px;
        }
        ul{
          @extend .clear_f;
          li{
            float: left;
            padding: 0 3px;
            a{
              display: block;
              color: #fff;
              span{
                @include transition(all 200ms ease-in-out);
                font-size: 20px;
              }
              &:hover{
                color: #b98e26;
              }
            }
          }
        }
      }
    }
  }
  &_bottom{
    @include transition(all 200ms ease-in-out);
    background: rgba(23, 22, 20, .7);
    padding: 20px 0;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 12;
    .logotype{
      float: left;
      max-width: 220px;
      padding: 0 15px;
      width: 40%;
      @include respond-to(ipad){
        width: 20%;
      }
      .logo{
        display: block;
        img{
          height: auto;
          max-width: 100%;
          width: 100%;
        }
      }
    }
    .menu{
      float: right;
      text-align: right;
      padding: 10px 15px;
      display: none;
      @include transition(all 200ms ease-in-out);
      @include respond-to(ipad){
        display: block;
      }
      ul{
        display: block;
        &.menu_top{
          font-size: 0;
          margin: 0 0 10px 0;
          li{
            display: inline-block;
            @include respond-to(ipad){
              margin: 0 15px 0 0;
              line-height: 1.5;
            }
            @include respond-to(large_d){
              margin: 0 30px 0 0;
            }
            &:last-child{
              margin: 0;
            }
            a{
              @include transition(all 200ms ease-in-out);
              display: block;
              font-size: 16px;
              color: #fff;
              @include respond-to(ipad){
                line-height: 1;
                font-size: 18px;
                border-bottom: 1px solid transparent;
                &:hover{
                  border-bottom: 1px solid #fff;
                }
              }
              @include respond-to(large_d){
                font-size: 22px;
              }
            }
          }
        }
        &.menu_bottom{
          li{
            display: inline-block;
            position: relative;
            overflow: hidden;
            a{
              display: block;
              font-size: 13px;
              color: #fff;
              text-transform: uppercase;
              float: left;
              @include respond-to(ipad){
                font-size: 12px;
              }
              @include respond-to(desktop){
                font-size: 13px;
              }
            }
            &:after{
              content: '|';
              padding: 0 10px;
              color: #fff;
              float: right;
            }
            &:last-child{
              &:after{
                padding: 0;
                width: 0;
                opacity: 0;
              }
            }
          }
        }
      }
    }
    .mobile_btn{
      display: block;
      float: right;
      min-height: 1px;
      width: 35px;
      position: absolute;
      right: 15px;
      top: 50%;
      transform: translate(0, -50%);
      @include respond-to(ipad){
        display: none;
        opacity: 0;
        height: 0;
      }
      span{
        display: block;
        margin: 0 0 5px 0;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 3px;
        &:last-child{
          margin: 0;
        }
      }
    }
  }
}