.home_info{
  position: relative;
  &.container{
    padding: 0;
    &:before{
      display: none;
    }
  }
  &_left{
    background-color: #f8f8f8;
    padding: 15px 0;
    @include respond-to(ipad){
      width: 73.326%;
      float: left;
      background: #f8f8f8;
      padding: 35px 6% 35px 0;
    }
    &:before{
      background: #f8f8f8;
      bottom: 0;
      content: "";
      height: 100%;
      margin: 0 10px 0 -9999px;
      padding: 0 0 0 9999px;
      position: absolute;
      width: 100%;
      right: 0;
      z-index: -1;
    }
    p{
      @include respond-to(ipad){
        font-size: 20px;
        color: #000;
      }
    }
    ul{
      font-size: 0;
      li{
        display: inline-block;
        margin: 0 5px 0 0;
        @include respond-to(ipad){
          font-size: 16px;
        }
        &:last-child{
          margin: 0;
        }
      }
    }
  }
  &_right{
    background-color: #e8e8e8;
    padding: 15px 0;
    @include respond-to(ipad){
      float: right;
      width: 26.674%;
      padding: 40px 0 30px 15px;
    }
    @include respond-to(ipad){
      &:before{
        content: '';
        background: #e8e8e8;
        z-index: -1;
        width: 100%;
        position: absolute;
        margin: 0 -9999px 0 -30px;
        padding: 0 9999px 0 0;
        bottom: 0;
        height: 100%;
        right: 0;
      }
    }
    a{
      display: block;
      text-align: center;
      font-size: 16px;
      color: #fff;
      text-transform: uppercase;
      padding: 10px 15px;
      background-color: #232b3c;
    }
  }
}