#slide_menu {
  user-select: none;
  width: 100%;
  padding-right: 0;
  left: -100%;
  //background-color: #34281e;
  background: #232b3c;
  height: 100%;
  min-height: 100%;
  *zoom: 1;
  position: fixed;
  z-index: 999999999;
  top: 0;
  transition: all 200ms ease-in-out;
  @extend .clear_f;
  @include respond-to(desktop){
    display: none;
  }
  &.slided{
    left: 0;
  }
  .slideMenuContainer{
    width: 100%;
    ul{
      padding: 0 15px;
      background: #232b3c;
      li{
        border-bottom: 1px solid #eee;
        &:first-child{
          border-top: 1px solid #eee;
        }
        a{
          display: block;
          padding: 10px 0;
          color: #fff;
          font-size: 16px;
        }
      }
    }
    .slide_bottom_list{
      //background-color: #34281e;
      background: #232b3c;
      li{
        &:first-child{
          border-top: none;
        }
        a{
          font-size: 12px;
        }
      }
    }
  }
  .slideMenuClose{
    background: #232b3c;
    display: block;
    z-index: 12;
    color: #fff;
    position: relative;
    text-align: right;
    padding: 15px;
    font-size: 24px;
  }
}
.nano {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.nano > .nano-content {
  position: absolute;
  overflow-x: hidden;
  top: 0;
  right: -17px;
  bottom: 0;
  left: 0;
  padding-top: 66px;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  visibility: hidden;
}
.nano > .nano-pane {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 10px;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  /* Target only IE7 and IE8 with this hack */
  visibility: hidden\9;
  opacity: .01;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
.nano > .nano-pane > .nano-slider {
  background: #9d9d9d;
  position: relative;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.nano .nano-pane {
  background: #5b5b5b;
  width: 4px;
  right: 10px;
  margin-top: 100px;
  margin-bottom: 30px;
}
/* line 1470, view\index.less */
.nano .nano-slider {
  background: #111;
}
.nano:hover > .nano-pane,
.nano-pane.active,
.nano-pane.flashed {
  /* Target only IE7 and IE8 with this hack */
  visibility: visible\9;
  opacity: 0.99;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  visibility: visible;
}