.banner{
  .slider{
    .slide{
      //padding: 40px 0;
      min-height: 450px;
      background-position: 50% 50%;
      background-repeat: no-repeat!important;
      background-size: cover;
    }
    .owl-nav{
      position: absolute;
      top: 50%;
      transform: translate(0, -50%);
      width: 100%;
      left: 0;
      right: 0;
      height: 0;
      margin: 0;
      padding: 0;
      .owl-prev{
        margin: 0;
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translate(0, -50%);
        background: rgba(255, 255, 255, .7);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        font-family: FontAwesome;
        padding: 0;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond-to(ipad){
          height: 40px;
          width: 40px;
        }
      }
      .owl-next{
        margin: 0;
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translate(0, -50%);
        background: rgba(255, 255, 255, .7);
        border-radius: 50%;
        height: 30px;
        width: 30px;
        font-family: FontAwesome;
        padding: 0;
        vertical-align: middle;
        display: flex;
        align-items: center;
        justify-content: center;
        @include respond-to(ipad){
          height: 40px;
          width: 40px;
        }
      }
    }
  }
}