.two_columns{
  background-color: #fff;
  @include respond-to(ipad){
    position: relative;
    z-index: 1;
  }
  &.container{
    padding: 0;
    &:before{
      display: none;
    }
  }
  @include respond-to(ipad){}
  .column_content{
    padding-top: 45px;
    padding-bottom: 60px;
    @include respond-to(ipad){
      width: 73.326%;
      float: left;
      background: #fff;
      padding: 45px 2% 60px 0;
    }
    @include respond-to(large_d){
      padding: 45px 6% 60px 0;
    }
    @include respond-to(ipad){
      &:before{
        background: #fff;
        bottom: 0;
        content: "";
        height: 100%;
        margin: 0 10px 0 -9999px;
        padding: 0 0 0 9999px;
        position: absolute;
        width: 100%;
        right: 0;
        z-index: -1;
      }
    }
    .spec_box{
      margin: 0 0 15px 0;
      @extend .clear_f;
      @include respond-to(ipad){
        margin: 0 0 45px 0;
      }
      &_image{
        padding: 0 15px;
        @include respond-to(ipad){
          width: 57%;
          float: left;
        }
        img{
          max-width: 100%;
          width: 100%;
          display: block;
          @include respond-to(ipad){
            height: 350px;
          }
        }
      }
      &_info{
        padding: 0 15px 0 15px;
        @include respond-to(ipad){
          padding: 0 15px 0 15px;
          width: 43%;
          float: left;
        }
        @include respond-to(large_d){
          padding: 0 75px 0 15px;
        }
        &_inner{
          border: 1px solid #e0e0e0;
          padding: 20px 20px 50px 20px;
          position: relative;
          .list{
            @include respond-to(ipad){
              height: 278px;
            }
            > ul{
              margin: 0 0 10px 0;
              @include respond-to(desktop){
                margin: 0 0 20px 0;
              }
              li{
                font-size: 16px;
                margin: 0 0 5px 0;
              }
            }
            a{
              &.view{
                text-transform: uppercase;
                color: #fff;
                display: inline-block;
                padding: 10px 15px;
                background-color: #b98e26;
                line-height: normal;
                font-size: 13px;
                @include respond-to(desktop){
                  font-size: 16px;
                }
              }
            }
          }
          .social_share{
            height: 50px;
            line-height: 50px;
            overflow: hidden;
            position: absolute;
            bottom: 0;
            width: 100%;
            left: 0;
            right: 0;
            background-color: #f8f8f8;
            border-top: 1px solid #e0e0e0;
            padding: 0 20px;
            &_title{
              font-size: 13px;
              text-transform: uppercase;
              font-family: 'proximanova-bold', sans-serif;
              float: left;
              width: 30%;
            }
            ul{
              float: left;
              width: 70%;
              @extend .clear_f;
              height: 50px;
              li{
                padding: 0 5px;
                float: left;
                a{
                  display: block;
                  span{
                    font-size: 16px;
                    &.icon-facebook{
                      color: #3e50ad;
                    }
                    &.icon-twitter{
                      color: #0997ba;
                    }
                    &.icon-pinterest{
                      color: #ba2a09;
                    }
                    &.icon-google{
                      color: #d17863;
                    }
                  }
                  i{
                    font-family: FontAwesome, sans-serif;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
    .common_box{
      padding: 0 15px 0 15px;
      @include respond-to(large_d){
        padding: 0 75px 0 15px;
      }
      #map{
        height: 150px;
        @include respond-to(ipad){
          height: 435px;
        }
      }
    }
  }
  .sidebar{
    background-color: #f2f2f2;
    display: none;
    @include respond-to(ipad){
      display: block;
    }
    @include respond-to(ipad){
      float: right;
      width: 26.674%;
      padding: 45px 15px 100px 30px;
      background: #f2f2f2;
    }
    @include respond-to(ipad){
      &:before{
        content: '';
        background: #f2f2f2;
        z-index: -1;
        width: 100%;
        position: absolute;
        margin: 0 -9999px 0 -30px;
        padding: 0 9999px 0 0;
        bottom: 0;
        height: 100%;
        right: 0;
      }
    }
    &_part{
      margin: 0 0 40px 0;
      &:last-child{
        margin: 0;
      }
      &_image{
        max-width: 100%;
        margin: 0 0 20px 0;
        img{
          width: 100%;
          max-width: 100%;
          max-height: 170px;
          display: block;
        }
      }
      &_info{
        ul{
          li{
            line-height: 1;
            margin: 0 0 10px 0;
            &:last-child{
              margin: 0;
            }
            &.f_s_14{
              strong{
                font-size: 16px;
              }
            }
          }
        }
        &_text{
          span{
            display: block;
            background-color: #232b3c;
            padding: 15px;
            font-size: 26px;
            font: 26px/31px Georgia, 'Times New Roman', Times, serif;
            color: #fff;
          }
          a{
            display: block;
            padding: 10px 15px;
            background-color: #b98e26;
            text-transform: uppercase;
            color: #fff;
            font-size: 16px;
          }
        }
      }
      &.link{
        .sidebar_part_image{
          margin: 0;
        }
      }
    }
  }
}