<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
<script src="js/libs/modernizr.js"></script>
<script src="js/libs/overthrow.min.js"></script>
<script src="js/libs/respond.min.js"></script>
<script src="js/libs/jquery.min.js"></script>
<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>-->
<script src="js/libs/jquery.nanoscroller.min.js"></script>
<script src="js/libs/owl.carousel.min.js"></script>
<script src="js/script.js"></script>