<article class="two_columns_content column_content">
    <div class="spec_box">
        <div class="spec_box_image">
            <img src="img/img.jpg" alt="img" />
        </div>
        <div class="spec_box_info">
            <div class="spec_box_info_inner">
                <div class="list">
                    <ul>
                        <li>
                            PRICE: <strong>$235,000</strong>
                        </li>
                        <li>
                            <strong>
                                Available/Under Construction
                            </strong>
                        </li>
                        <li>
                            SQUARE FEET: <strong>2,750</strong>
                        </li>
                        <li>
                            BEDS: <strong>3</strong>
                        </li>
                        <li>
                            BATHS: <strong>2.5</strong>
                        </li>
                        <li>
                            STORIES: <strong>2</strong>
                        </li>
                        <li>
                            PLAN: <strong>Lexington</strong>
                        </li>
                    </ul>
                    <a href="#" class="view">view floor plan</a>
                </div>
                <div class="social_share">
                    <div class="social_share_title">Share:</div>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="icon-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-google"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-pinterest"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-mail"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="common_box">
        <h3>
            HOME FEATURES
        </h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut felis mauris.
            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
            Duis tellus elit, euismod non risus quis, consectetur convallis ante.
            Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;
            Curabitur in porttitor tellus. Suspendisse elit metus, dignissim non varius eget, sollicitudin tincidunt urna.
        </p>
    </div>
    <div class="common_box">
        <h3>
            HOME FEATURES
        </h3>
        <div id="map"></div>
    </div>
</article>