<footer class="footer" id="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col f_logo">
                    <a href="#" class="footer_logo">
                        <img src="img/footer_logo.png" alt="logo" />
                    </a>
                </div>
                <div class="col contact">
                    <span class="title">CONTACT LIBERTY</span>
                    <ul>
                        <li>
                            <a href="#">
                                2821 Jordens Road, Suite 500
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Houston, Texas 77084
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                phone: (281) 645-0225
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                info@libertyhomebuilders.com
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col find">
                    <span class="title">FIND A HOME</span>
                    <ul>
                        <li>
                            <a href="#">
                                Floor Plans
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Available Homes
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Communities
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Home Features
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col site_links">
                    <span class="title">SITE LINKS</span>
                    <ul>
                        <li>
                            <a href="#">
                                About
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Specials
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Preferred Lenders
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Customer Care
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Contact
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col social">
                    <span class="title">FOLLOW LIBERTY</span>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="icon-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-instagram"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-twitter"></span></a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-google"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="col_inner">
                        <a href="#">
                            <img src="img/1.png" alt="img" />
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="col_inner">
                        <a href="#">
                            <img src="img/2.png" alt="img" />
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="col_inner">
                        <a href="#">
                            <img src="img/3.png" alt="img" />
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="col_inner">
                        <a href="#">
                            <img src="img/4.png" alt="img" />
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="col_inner">
                        <a href="#">
                            <img src="img/5.png" alt="img" />
                        </a>
                    </div>
                </div>
                <div class="col">
                    <div class="col_inner">
                        <a href="#">
                            <img src="img/6.png" alt="img" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy">
        <div class="container">
            <div class="row">
                <div class="col">
                    ©2015, Liberty Home Builders. All Rights Reserved.
                </div>
                <div class="col">
                    Website designed by Bryan Creative Group
                </div>
            </div>
        </div>
    </div>
</footer>