<header class="header" id="header">
    <div class="header_top">
        <div class="container">
            <div class="header_top_inner">
                <div class="number">
                    <a href="tel:+281 645-0225">(281) 645-0225</a>
                </div>
                <div class="lang">
                    <span>
                        <!--<a href="#">ESPAÑOL</a>-->
                        ESPAÑOL
                    </span>
                    <ul>
                        <li>ESPAÑOL</li>
                        <li>English</li>
                    </ul>
                </div>
                <div class="social_icons">
                    <ul>
                        <li>
                            <a href="#">
                                <span class="icon-facebook"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-instagram"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="icon-google"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="header_bottom">
        <div class="container">
            <div class="row">
                <div class="logotype">
                    <a href="/" title="logo" class="logo">
                        <img src="img/logo.png" alt="logo" />
                    </a>
                </div>
                <div class="menu">
                    <ul class="menu_top">
                        <li>
                            <a href="#">Floor Plans</a>
                        </li>
                        <li>
                            <a href="#">Available Homes</a>
                        </li>
                        <li>
                            <a href="#">Communities</a>
                        </li>
                        <li>
                            <a href="#">Home Features</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                    </ul>
                    <ul class="menu_bottom">
                        <li>
                            <a href="#">About</a>
                        </li>
                        <li>
                            <a href="#">Specials</a>
                        </li>
                        <li>
                            <a href="#">PREFERRED LENDER</a>
                        </li>
                        <li>
                            <a href="#">CUSTOMER CARE</a>
                        </li>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                    </ul>
                </div>
                <a href="#" class="mobile_btn js_mobile_btn">
                    <span></span>
                    <span></span>
                    <span></span>
                </a>
            </div>
        </div>
    </div>
</header>