<section class="home_info container">
    <div class="home_info_left">
        <div class="container">
            <p>
                1234 Very Long Street Name Drive, Houston, TX 77382
            </p>
            <ul>
                <li>
                    COMMUNITY: <strong>Hidden Meadow</strong>
                </li>
                <li>
                    PLAN: <strong>Lexington</strong>
                </li>
                <li>
                    SERIES: <strong>Jefferson</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="home_info_right">
        <div class="container">
            <a href="#">COMMUNITY INFORMATION</a>
        </div>
    </div>
</section>