<section class="banner">
    <div class="slider owl-carousel owl-theme">
        <div class="slide" style="background-image: url('../img/slide.jpg');">1</div>
        <div class="slide" style="background-image: url('../img/slide.jpg');">2</div>
    </div>
</section>