<aside class="two_columns_sidebar sidebar">
    <div class="sidebar_part">
        <div class="sidebar_part_image">
            <img src="img/img.jpg" alt="img" />
        </div>
        <div class="sidebar_part_info">
            <ul>
                <li class="f_s_20">
                    <strong>Gus Garcia</strong>
                </li>
                <li class="f_s_18">
                    Sales Counselor
                </li>
                <li class="f_s_14">
                    OFFICE: <strong>(281) 645-0225 ext 709</strong>/
                </li>
                <li class="f_s_14">
                    MOBILE: <strong>(281) 723-7840</strong>
                </li>
                <li class="f_s_16">
                    <strong>Email Gus Garcia</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar_part">
        <div class="sidebar_part_image">
            <img src="img/img.jpg" alt="img" />
        </div>
        <div class="sidebar_part_info">
            <ul>
                <li class="f_s_20">
                    <strong>Gus Garcia</strong>
                </li>
                <li class="f_s_18">
                    Sales Counselor
                </li>
                <li class="f_s_14">
                    OFFICE: <strong>(281) 645-0225 ext 709</strong>/
                </li>
                <li class="f_s_14">
                    MOBILE: <strong>(281) 723-7840</strong>
                </li>
                <li class="f_s_16">
                    <strong>Email Gus Garcia</strong>
                </li>
            </ul>
        </div>
    </div>
    <div class="sidebar_part link">
        <div class="sidebar_part_image">
            <img src="img/image_2.jpg" alt="img" />
        </div>
        <div class="sidebar_part_info_text">
            <span>Pre-Qualify for a Home Loan Today!</span>
            <a href="#">VIEW PREFERRED LENDERS</a>
        </div>
    </div>
</aside>