<div class="slide_menu" id="slide_menu">
    <div class="nano has-scrollbar">
        <span class="slideMenuClose"> X </span>
        <div class="slideMenuContainer nano-content">
            <ul class="slideMenuItem">
                <li>
                    <a href="#">Floor plans</a>
                </li>
                <li>
                    <a href="#">Available homes</a>
                </li>
                <li>
                    <a href="#">Communities</a>
                </li>
                <li>
                    <a href="#">Home features</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
            <ul class="slide_bottom_list">
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Specials</a>
                </li>
                <li>
                    <a href="#">Preferred lender</a>
                </li>
                <li>
                    <a href="#">Custom care</a>
                </li>
                <li>
                    <a href="#">Careers</a>
                </li>
            </ul>
        </div>
    </div>
</div>