html, body{
  min-height: 100%;
}
*{
  padding: 0;
  margin: 0;
}
body{
  font-family: 'proximanova-regular', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #000;
  @include respond-to(desktop){}
  &.ov_h{
    overflow: hidden;
  }
  .wrapper{
    overflow: hidden;
    position: relative;
    &.slided{
      //position: fixed;
      position: relative;
      @include respond-to(desktop){
        //position: relative;
      }
    }
  }
  .clear_f{
    &:before, &:after{
      content: '';
      display: table;
    }
    &:after{
      clear: both;
    }
  }
  .wrapper{
    width: 100%;
    margin: 0 auto;
    min-height: 100%;
  }
  .container{
    padding: 0 15px;
    max-width: 1210px;
    width: 100%;
    margin: 0 auto;
    &:before, &:after{
      content: '';
      display: table;
    }
    &:after{
      clear: both;
    }
  }
  .row{
    margin: 0 -15px;
    &:before, &:after{
      content: '';
      display: table;
    }
    &:after{
      clear: both;
    }
  }
  .common_box{
    margin: 0 0 15px 0;
    @include respond-to(ipad){
      margin: 0 0 45px 0;
    }
    //padding: 0 75px 0 0;
    h3{
      margin: 0 0 15px 0;
      @include respond-to(ipad){
        margin: 0 0 45px 0;
      }
    }
  }
  h3{
    font-family: 'proximanova-bold', sans-serif;
    font-size: 18px;
  }
  strong{
    font-family: 'proximanova-bold', sans-serif;
  }
  .f_s{
    &_20{
      font-size: 20px;
    }
    &_18{
      font-size: 18px;
    }
    &_16{
      font-size: 16px;
    }
    &_14{
      font-size: 14px;
    }
  }

  [class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-arrow-down:before {
    content: "\e600";
  }
  .icon-arrow-left:before {
    content: "\e601";
  }
  .icon-arrow-right:before {
    content: "\e602";
  }
  .icon-email:before {
    content: "\e603";
  }
  .icon-facebook:before {
    content: "\e604";
  }
  .icon-google:before {
    content: "\e605";
  }
  .icon-instagram:before {
    content: "\e606";
  }
  .icon-pinterest:before {
    content: "\e607";
  }
  .icon-twitter:before {
    content: "\e608";
  }
}