@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome/FontAwesome.otf');
  src: url('../fonts/FontAwesome/fontawesome-webfont.eot') format('embedded-opentype'),
  url('../fonts/FontAwesome/fontawesome-webfont.woff') format('woff'),
  url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'proximanova-regular';
  src: url('../fonts/proximanova-regular.otf');
  font-weight: 400;
}
@font-face {
  font-family: 'proximanova-bold';
  src: url('../fonts/proximanova-bold.otf');
  font-weight: 700;
}
@font-face {
  font-family: 'icomoon';
  src:url('../fonts/icomoon.eot');
  src:url('../fonts/icomoon.eot') format('embedded-opentype'),
  url('../fonts/icomoon.ttf') format('truetype'),
  url('../fonts/icomoon.woff') format('woff'),
  url('../fonts/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}