@mixin respond-to($media) {
  @if $media == mobile_ipad {
    @media only screen and (min-width: 520px) { @content; }
  }
  @else if $media == ipad {
    @media only screen and (min-width: 768px){ @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: 960px) { @content; }
  }
  @else if $media == large_d {
    @media only screen and (min-width: 1170px) { @content; }
  }
  @else if $media == mobile {
    @media only screen and (max-width: 767px) { @content; }
  }
}
@mixin transition($args) {
  transition: $args;
}
