html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary, main,
time, mark, audio, video {
  border: 0;
  //font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &:focus{
    outline: none;
  }
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, main, nav, section {
  display: block;
}
html, body{
  min-height: 100%;
}
body {
  line-height: 1;
}
ol, ul ,li {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
a{
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
input{
  text-transform: none;
}
input:required {
  box-shadow: none;
}
//@supports (flex-wrap: wrap){body{display:flex}}body{display:-ms-flexbox;display:-webkit-flex;-ms-box-orient:horizontal;font-size:10px !important;font-family:"Open Sans",Arial,sans-serif !important}
